<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>synesthetic{{#if title}} | {{title}}{{/if}}</title>
    <link href='css/compiled/main.css' rel='stylesheet' type='text/css'>
</head>