<!doctype html>
<html lang="en">
    {{> global_head}}
<body>
    <noscript>JS is required</noscript>
    {{> global_header}}
    <main role="main">
        {{{body}}}
    </main>
    {{> global_footer}}
    {{> global_scripts}}
</body>
</html>
