<canvas id="viz"></canvas>
<article>
    <h1>let's get started... shall we?</h1>
    <p>i can interprete the sounds around me but, i see sounds as images.  want to see?  just let me know when you're ready.</p>
    <a class="listener" href="/">start</a>
    <audio src="" id="audio"></audio>
</article>