html {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  font-family: Helvetica, Arial, sans-serif;
  color: #ccc;
  margin: 0;
  padding: 10px;
}

.synth {
  color: #fff;
  font-weight: normal;
}
